.container {
  max-width: 1065px;
}

.main-content {
  width: 100%;
  min-height: 100vh;
  background-color: #CCD7FA;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.content-page {
  background-color: #FFFFFF;
  border-radius: 10px;
  border: 0px;
}
.content-page__photo {
  height: 100%;
}
.content-page__photo__item {
  width: 100%;
  border-radius: 10px 0px 0px 10px;
  min-height: 433px;
  -o-object-fit: cover;
     object-fit: cover;
}
.content-page__right-section {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.content-page__right-section__text {
  width: 400px;
  font-family: "Roboto", sans-serif;
}

.navbar {
  padding: 0px;
  margin-top: 22px;
}
.navbar .navbar-nav {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.navbar .navbar-nav .nav-item {
  margin: 0px 15px 15px 0px;
}

.brand-btn__item {
  width: 195px;
  height: 77px;
  background-color: #FFFFFF;
  opacity: 0.6;
  border-radius: 5px;
}
.brand-btn__item__photo {
  width: auto;
  height: auto;
}
.brand-btn__item--active {
  -webkit-transform: scaleX(1.2);
          transform: scaleX(1.2);
  z-index: 2;
  height: 90px !important;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  opacity: 1;
  -webkit-box-shadow: 0px 3px 8px #CCD7FA;
          box-shadow: 0px 3px 8px #CCD7FA;
}

.view-all-btn {
  width: 200px;
}
.view-all-btn__item {
  width: 200px;
  height: 77px;
  background-color: #070B0E;
  border-radius: 5px;
  color: #FFFFFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.view-all-btn__item:hover {
  color: #FFFFFF;
}

.btn:focus {
  -webkit-box-shadow: 0px 3px 8px #CCD7FA;
          box-shadow: 0px 3px 8px #CCD7FA;
}

.text-mark {
  font-size: 86px;
  height: 50px;
  font-weight: 400;
  color: #000000;
}

.text-description {
  font-weight: 400;
  font-size: 20px;
  line-height: 35px;
  color: #000000;
}

.text-author {
  font-weight: 700;
  font-size: 18px;
}

.text-rank {
  font-size: 16px;
  line-height: 35px;
  font-weight: 400;
  color: #585E74;
}

.text-left-30 {
  margin-left: 30px;
}

.margin-bottom-70 {
  margin-bottom: 70px;
}

@media (max-width: 768px) {
  .main-content {
    padding: 30px 0px;
  }

  .text-right-30 {
    margin-right: 10px;
  }

  .content-page__photo__item {
    border-radius: 10px 10px 0px 0px;
  }
}
@media (max-width: 500px) {
  .navbar .navbar-nav .nav-item {
    margin: 0px 1px 15px 0px;
  }
}